.story {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f6701392641893.5e500da1d86dd.png);
    background-size: cover;
    background-attachment: fixed;

    h1 {
        font-size: 50px;
        color: aqua;
    }
}